Name: {{.Name}}
Email: {{.Email}}
{{if .IsOld -}}
OldAge: {{.Age}}
{{else -}}
Age: {{.Age}}
{{end -}}

<a href="/user?email={{.Email}}">user</a>
<script>
var name={{.Name}}
var email={{.Email}}
var age={{.Age}}
</script>